*{
    margin:0;
    padding:0;
}

.line{
    border: 0.5px solid whitesmoke;
    font-size: 15px;
    margin:0 22.2%;
    padding: 10px 0 10px 15px;
    background-color: white;
    text-align: start;
    opacity:0.9;
    
}

li{
    list-style-type: none;
}