*{
    margin:0;
    padding:0;
}

#but{
    padding:14px;
    
    display:flex;
    color:white;
    
}

#but:hover{
    background-color: grey;
    cursor: pointer;
}
.buttt{
    cursor: pointer;
    
    color:white;
    padding: 15px 25px;
}

.buttt:hover{
    background-color: red;
}

.navbar{
    display: flex;
    flex-direction:row;
    width:100%;
    gap:20px;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

img{
    width:100%;
}

.tete{
    display:flex;
    gap:55%;
    background-color: black;
}





